@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Oluwatobi Kareem<br />
    Graduate Student, Computer Science<br />
    Hofstra University, Hempstead, NY 11550<br />
    <abbr title="Phone">M:</abbr>
    516.344.7233
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:okareem1@pride.hofstra.edu">Official Email</a><br />
    <strong>Purchase:</strong> <a href="mailto:oluwatobikareem@gmail.com">Unofficial Email</a>
</address>s>