@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: #f4511e; color: #ffffff;">
    <h1>TobChat</h1>
    <p class="lead">
        TobChat is a connectivity tool application that connects to a network and provide access to other software applications
        that are connected to the same network without the need for internet. The scope of this innovation is narrowed down to educational institutions
        in developed and underdeveloped countries that lack adequate resources to provide internet connectivity to their students.
    </p>
    <p><a href="http://www.tobikareem.com" class="btn btn-primary btn-lg">Learn more about the author &raquo;</a></p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            TobChat gives you a powerful innovation solution to the serious issue of the internet unavailablity in remote places.
            To begin with TobChat, download the cross-platform software application, connect to the network, "KareemNet" in your school 
            and enjoy access to everyone else
        </p>
        <p><a class="btn btn-default" href="http://www.tobikareem.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Benefits</h2>
        <ul>
            <li>TobChat can be deployed at substantially reduced cost to the end users</li>
            <li>TobChat allow access for everyone is a Local Area Network and makes it possible for people to connect in a social context</li>
            <li>TobChat does not require the internet as a medium for communication and file transfer</li>
            <li>It reduces cost of internet bandwidth and overall expenses on institutions that adopt TobChat</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Using TobChat</h2>
        <p>Deploying this innovation will provide tremedius benefits to buyers and users. It will put an end to the constant frustration of people who are not 
            sufficiently served with the internet availability.</p>
        <p>TobChat can promote free access to people and enhance the use of social media as a civil society tool for social growth and development.</p>
        <p>It can easily be deployed and it offers the right mix of features, updates and price for an institution.</p>
        <p><a class="btn btn-default" href="http://www.tobikareem.com">Learn more &raquo;</a></p>
    </div>
</div>